    <!DOCTYPE html>
    <html>
    <head>
        <title>Karan's Website</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css?">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="container" id="app">
        <header>
            <h1 class="text-center">Karan Vachheta - 1162439</h1>
        </header>
        <main>
            
            <div class="row">  
                <div class="col-md-6 text-center" v-if="userProfile" id="colorPro">
                    <h2 id="profile">User Profile</h2>
                    <img :src="userProfile.profile_picture" class="rounded-circle" width="200" height="200">
                    <h5>{{ userProfile.first_name }} {{ userProfile.last_name }}</h5>
                    <p>Age: {{ userProfile.age }}</p>
                    <button class="btn btn-primary" @click="getNewProfile">New Profile</button>
                </div>

                <div class="col-md-6 text-center" id="colorDef">
                    <h2 id="definition">Word Definition</h2>
                    <input v-model="word" type="text" placeholder="Enter a word" class="form-control">
                    <button class="btn btn-primary" @click="getWordDefinition">Define</button>
            
                    <!-- Display the definition -->
                    <div v-if="wordDefinition">
                        <h4>Word: {{ wordDefinition.word }}</h4>
                        <p><strong>Phonetic:</strong> {{ wordDefinition.phonetic }}</p>
                        <p><strong>Definition:</strong> {{ wordDefinition.definition }}</p>
                    </div>
                </div>
            </div>
            <div id="border" ></div>
            <div class="row">
                <div id="weather-module" class="col-md-6 text-center">
                    <h2 id="weatherInfo"> Weather Information </h2>
                    
                    <!-- Input fields for city, province, country -->
                    <input type="text" v-model="city" placeholder="Enter City" class="form-control">
                    <input type="text" v-model="province" placeholder="Enter Province" class="form-control">
                    <input type="text" v-model="country" placeholder="Enter Country" class="form-control">
                    
                    <!-- Button to fetch weather -->
                    <button id="weathButt" class="btn btn-primary" @click="getWeather">Get Weather</button>
                
                    <!-- Display the weather data -->
                    <div v-if="weather">
                        <h3>Weather in {{ city }}, {{ province }}, {{ country }}</h3>
                        <p><strong>Temperature:</strong> {{ weather.temperature }} </p>
                        <p><strong>Wind:</strong> {{ weather.wind }} </p>
                        <p><strong>Description:</strong> {{ weather.description }}</p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="text-center">
            &copy; 2025 COMP-6062 Final Project. All rights reserved.
        </footer>
        <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
        <script src="scripts/app.js"></script>
    </body>
    </html>